.landing {
    background-image: url("images/backgrounds/image2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 780px;
    width: 100%;
    position: relative;
}

.landing-content {
    position: absolute;
    margin-top: 250px;
    text-align: center;
    left: 0;
    right: 0;
    color: white;
}

#logo1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
}

#heading2 {
    font-size: 15px;
}

#heading1 {
    font-size: 300%
}

.about-content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services {
    background-image: url("images/backgrounds/image3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.services-content {
    text-align: center;
    color: white;
    padding-top: 140px;
}

.service-icons-content {
    padding-top: 60px;
    text-align: center;
}

.service-icons {
    height: 280px;
}

#heading3 {
    font-size: 30px;
    padding-bottom: 15px;
}

.images {
    width: 250px;
}

.icontop {
    padding-top: 35px;
}

.portfolio {
    text-align: center;
    margin: 60px;
}

#heading4 {
    font-size: 25px;
}

.contact {
    background-image: url("images/backgrounds/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}

.contactheading {
    text-align: center;
}

.inputs {
    background-color: transparent;
    border-color: white;
    margin-bottom: 30px;
}

#message {
    height: 200px;
}

#heading5 {
    font-size: 30px
}

.contact-content {
    padding-top: 50px
}

::placeholder {
    color: white;
}

.social-icons-content {
    margin-top: 50px;
    text-align: center;
}

.social-icon {
    padding: 10px;
}