.landing {
    background-image: url("images/backgrounds/image2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 780px;
    width: 100%;
    position: relative;
}

.landing-content {
    position: absolute;
    margin-top: 250px;
    text-align: center;
    left: 0;
    right: 0;
    color: white;
}

#logo1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
}

#heading2 {
    font-size: 15px;
}

#heading1 {
    font-size: 300%
}

.about-content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services {
    background-image: url("images/backgrounds/image3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.services-content {
    text-align: center;
    color: white;
    padding-top: 140px;
}

.service-icons-content {
    padding-top: 60px;
    text-align: center;
}

#heading3 {
    font-size: 30px;
    padding-bottom: 15px;
}

.images {
    width: 250px;
}

.icontop {
    padding-top: 35px;
}

.portfolio {
    text-align: center;
    margin: 60px;
}

#heading4 {
    font-size: 25px;
}

.contact {
    background-image: url("images/backgrounds/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}

.contactheading {
    text-align: center;
}

.inputs {
    background-color: transparent;
    border-color: white;
    margin-bottom: 30px;
}

#message {
    height: 200px;
}

#heading5 {
    font-size: 30px
}

.contact-content {
    padding-top: 50px
}

::placeholder {
    color: white;
}

.social-icons-content {
    margin-top: 50px;
    text-align: center;
}

.social-icon {
    padding: 10px;
}

.hiddenItems {
    display: none;
    text-align: center;
}

#design-hidden {
    display: none;
}

#development-hidden {
    display: none;
}

#program-hidden {
    display: none;
}

#black-project {
    background-image: url("images/portfolio/work4.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#black-text {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid white;
    display: none;
    color: white;
}

#security-project {
    background-image: url("images/portfolio/work3.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#security-text {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid white;
    display: none;
    color: white;
}

#abstract-project {
    background-image: url("images/portfolio/work2.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#abstract-text {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid white;
    display: none;
    color: white;
}

#status-project {
    background-image: url("images/portfolio/work1.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#status-text {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid white;
    display: none;
    color: white;
}

#health-project {
    background-image: url("images/portfolio/work5.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#health-text {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid white;
    display: none;
    color: white;
}

#button-project {
    background-image: url("images/portfolio/work6.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#button-text {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid white;
    display: none;
    color: white;
}

#logo-project {
    background-image: url("images/portfolio/work7.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo-text {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid white;
    display: none;
    color: white;
}

#restaurant-project {
    background-image: url("images/portfolio/work8.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#restaurant-text {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid white;
    display: none;
    color: white;
}

.project {
    margin-left: 80px;
    text-align: center;
}

.project:hover {
    opacity: 0.5;
}

.body-content {
    font-family: 'Roboto', sans-serif;
}